* {
    box-sizing: border-box;
}
body {
    background-color: #f4c236ba;
    margin: 0;
}
.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 25px;
    background-color: #03c8f4;
}
.container:after {
    content: '';
    display: table;
    clear: both;
}
img {
    float: right;
    margin-right: 20px;
    width: 350px;
    height: 300px;
    border-radius: 20px
}
h1{
   font-family:"Arial Black";
    font-size: 25px;
}

