<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Catalin Chinchisan</title>

    <link rel="stylesheet" href="{{ asset('css/styleCC.css') }}">
</head>
<body>

    <div class="container">
        <h2>Joker</h2>
        <img src="{{ asset('images/joker.jpeg') }}" alt="">

        <p>Joker is a psychological thriller movie based on DC Comics characters. This film is directed by Todd Phillips, who co-wrote the screenplay of the film with Scott Silver. The film stars Joaquin Phoenix as the Joker alongside Robert De Niro, Zazie Beetz, Frances Conroy, Brett Cullen, Marc Maron, Bill Camp, Shea Whigham, Glenn Fleshler, Douglas Hodge, and Brian Tyree Henry in supporting roles. </p>
        <p>The story of this film is set in 1981 and follows a failed standup comedian who has gone crazy and turns into a criminal and has a life of chaos. Development of this film began in 2016 and after setting the director and the writer and Phoenix attaching to the project in 2018, principal photography began and it took place in New York City, Jersey City, and Newark.</p>
        <br>
        <ul>
            <li>Joaquin Phoenix</li>
            <li>Robert De Niro</li>
            <li>Zazie Beetz</li>
        </ul>
    </div>

</body>
</html> 