<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nelega Claudia</title>

    <link rel="stylesheet" href="{{ asset('css/nelega_claudia.css') }}">
</head>
<body>

<div class="container">
    <h1>Pagina personala</h1>
    <p>Ma numesc Nelega Claudia Alexandra, sunt studenta la facultatea de Stiinte exacte si ingineresti,
        specializarea Programare Avansata si Baze de Date, anul 2 Master</p>
    <p>Elementele listei neordonate sunt:</p>

    <ul>
        <li>Elementul 1 </li>
        <li>Elementul 2 </li>
        <li>Elementul 3 </li>
    </ul>

    <img src="{{ asset('images/image01.jpg') }}" alt="">
    <p>Imaginea atasata este:</p>

</div>

</body>
</html>
