<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pojar Alexandru</title>

    <link rel="stylesheet" href="{{ asset('css/pojar.css') }}">
</head>
<body>

    <div class="container">
        <p>Elementele listei neordonate sunt prezentate in urmatoarele 4 randrui.</p>

        <ul>
            <li>Elementul 1</li>
            <li>Elementul 2</li>
            <li>Elementul 3</li>
	    <li>Elementul 4</li>
        </ul>

        <img src="{{ asset('images/pojar.jpg') }}" alt="">

        <p>De asemenea, pe langa elementele listei se poate vedea si imaginea personala.</p>

    </div>

</body>
</html>
